.button {
    padding: 5px;
    background-color: aliceblue;
    border: solid black 1px;
}
.info {
    background-color: cornflowerblue;
    color: white;
}
.success {
    background-color: forestgreen;
    color: white;
}
.danger {
    background-color: darkred;
    color: white;
}
